@page "/ayuda"

<div class="container vh-100 d-flex justify-content-center align-items-center">
    <div class="col-lg-8 col-md-10 col-sm-12">
        <div class="bg-white rounded-3 p-4 shadow-lg">
            <div class="row">
                <div class="col">
                    <h1>Ayuda</h1>
                </div>
                <div class="row">
                    <div class="col">
                        <h3>Programador</h3>
                        <p>Nombre: Hael Giovanni Osuna Cota</p>
                        <p>
                            Correo:
                            <a href="mailto:hosuna@grechmotors.com">hosuna@grechmotors.com</a>
                        </p>
                        <p>
                            Celular:
                            <a href="tel:+526862479465">686-247-9465</a>
                        </p>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <h3>Gerente de Ingenieria</h3>
                        <p>Nombre: Fernando Gutierrez</p>
                        <p>
                            Correo:
                            <a href="mailto:fgutierrez@grechmotors.com">fgutierrez@grechmotors.com</a>
                        </p>
                        <p>
                            Celular:
                            <a href="tel:+526862625528">686-262-5528</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@code {

}
