@page "/"

<div class="container vh-100 d-flex justify-content-center align-items-center mb-3">
    <div class="col-lg-8 col-md-10 col-sm-12">
        <div class="bg-white rounded-3 p-4 shadow-lg">
            <div class="m-3">
                <div class="row">
                    <div class="col">
                        <h1>Inicio</h1>
                    </div>
                </div>
                <div class="row m-3">
                    <div class="col d-flex">
                        <input type="text" placeholder="Ingresa el código" name="search" class="form-control rounded-start">
                        <button type="submit" class="btn btn-outline-light bg-primary rounded-end" @onclick="GetUnit">
                            <i class="fa fa-search">
                                <svg width="24" height="24" fill="none" viewBox="0 0 24 24">
                                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" d="M19.25 19.25L15.5 15.5M4.75 11C4.75 7.54822 7.54822 4.75 11 4.75C14.4518 4.75 17.25 7.54822 17.25 11C17.25 14.4518 14.4518 17.25 11 17.25C7.54822 17.25 4.75 14.4518 4.75 11Z"></path>
                                </svg>
                            </i>
                        </button>
                    </div>
                </div>
                <div class="row m-3">
                    <div class="col">
                        @if (unitNumber == null)
                        {
                            <p class="text-center"><em>Loading...</em></p>
                        }
                        else
                        {
                            <div class="unitdata">
                                <p class="mb-2">G_Number: 8964</p>
                                <p class="mb-2">Modelo: Tour-170 ext</p>
                                <p class="mb-2">Opcion: Regular</p>
                                <p class="mb-2">Color: Claro</p>
                                <p class="mb-2">Descripcion: Pared lateral de baño</p>
                            </div>
                        }
                    </div>
                </div>
                <div class="row m-3">
                    <div class="col d-flex">
                        <input type="text" placeholder="Número de empleado" name="search" class="form-control rounded-start" @bind="userNumber">
                        <button type="submit" class="btn btn-outline-light bg-primary rounded-end" @onclick="GetUser">
                            <i class="fa fa-search">
                                <svg width="24" height="24" fill="none" viewBox="0 0 24 24">
                                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" d="M19.25 19.25L15.5 15.5M4.75 11C4.75 7.54822 7.54822 4.75 11 4.75C14.4518 4.75 17.25 7.54822 17.25 11C17.25 14.4518 14.4518 17.25 11 17.25C7.54822 17.25 4.75 14.4518 4.75 11Z"></path>
                                </svg>
                            </i>
                        </button>
                    </div>
                </div>
                <div class="row m-3">
                    <div class="col">
                        <label for="Procesos" class="form-label">Procesos</label>
                        <select class="form-select" aria-label="Procesos" id="Procesos">
                            <option selected>Proceso</option>
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                        </select>
                    </div>
                </div>
                <div class="row m-3">
                    <div class="col">
                        <button class="btn btn-success px-4">Pass</button>
                        <button class="btn btn-danger px-4 mx-2">Fail</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


@code {
    private string unitNumber = "";
    private string userNumber = "";

    private void GetUnit()
    {
        // Aquí puedes agregar la lógica para consultar tu base de datos con el término de búsqueda (searchTerm)
        // Por ejemplo, podrías usar Entity Framework para consultar una base de datos en C#
        // Luego, puedes mostrar los resultados en tu página
    }

    private void GetUser()
    {
        // Aquí puedes agregar la lógica para consultar tu base de datos con el término de búsqueda (searchTerm)
        // Por ejemplo, podrías usar Entity Framework para consultar una base de datos en C#
        // Luego, puedes mostrar los resultados en tu página
    }
}
